* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


header nav {
    width: 1920px;
    height: 80px;
    font-family: "Teko", sans-serif;
    color: #355e58;
    font-size: 20pt;
    background-color: #fdc1b4;
    position: sticky;
    box-shadow: 0px 05px 20px inset #fe9179;

}

header nav ul {
    display: flex;
}

header nav ul li {
    float: left;
    list-style-type: none;
    font-family: "Teko", sans-serif;
    text-align: center;
}

header nav ul li.main {
    width: 60px;
    height: 37px;
    margin: 24px 61px 19px 310px;
    color: #ffedd1;
}

header nav ul li.about {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.gallery {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.contact {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.profile img {
    width: 62px;
    margin: 7px 344px 0px 500px;
    border-radius: 31px;
}

header nav ul li.name img {
    width: 100px;
    margin: 7px 200px 8px -400px;
}

section {
    border: 1px solid #ffedd1;
    width: 1920px;
    height: 500px;
    background-color: #ffedd1;
}

section#top {
    height: 460px;
    justify-content: center;
    align-content: center;
    display: block;
}

section#top h1 {
    font-family: "Teko", sans-serif;
    font-size: 80pt;
    width: 100%;
    height: 118px;
    color: #72b0ab;
    margin: 70px 0px 0px 800px;
    text-align: left;
}

section#top p {
    font-family: "Teko", sans-serif;
    font-size: 20pt;
    color: #72b0ab;
    width: 844px;
    height: 100px;
    text-align: center;
    margin: 0px 0px 0px 600px;


}

section p.downlod a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: 80px 100px 0px 430px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
}

section p.view a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: -100px 100px 0px 250px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
    position: absolute;

}

div.techIcons {
    width: 1920px;
    height: 130px;
    box-shadow: 0px 05px 20px inset #fe9179;
    background-color: #fdc1b4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

div.techIcons img {
    width: 150px;
    height: 150px;
    padding: 10px;
    object-fit: contain;
    margin-left: 100px;
}

div#letusbox {
    width: 1920px;
    height: 959px;
    display: flex;
}

div.allform {
    width: 1192px;
    height: 718px;
    margin: 112px 0px 184px 450px;
    box-shadow: 0px 10px 50px #3c9fc9;
    display: flex;
}

div form.letusform p {
    font-family: "Teko", sans-serif;
    font-size: 13pt;
    color: #b89d47;
    height: 70px;
    width: 600px;
    margin: 10px 112px 112px 30px;
    text-align: center;
    position: absolute;
}

div form.letusform h1 {
    font-family: "Teko", sans-serif;
    font-size: 60pt;
    color: #b89d47;
    width: 800px;
    height: 180px;
    margin: 112px 0px 0px -70px;
    text-align: center;
}

div.gradedbgp img {
    width: 1189px;
    height: 718px;
    margin: 0px 1px 0px 1px;
    clip-path: polygon(50% 70%, 100% 45%, 100% 0, 0 0, 0 40%);
}

div form.letusform {
    width: 800px;
    height: 399px;
    font-family: "Teko", sans-serif;
    font-size: 16pt;
    font-style: bold;
    text-align: left;
    color: #b89d47;
    position: absolute;
    margin: 0px 112px 0px 300px;
    display: block;
}

div form div.fullname {
    width: 300px;
    height: 50px;
    margin: 300px 60px 5px -60px;
    position: absolute;
}

div form input[type="text"] {
    width: 290px;
    height: 30px;
    font-family: "Teko", sans-serif;
    font-size: 16pt;
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);
    border: none;
    border-bottom: 5px solid #b89d47;
    background-color: #b89e4720;
}

div form div.email {
    width: 300px;
    height: 50px;
    margin: 300px 200px 0px 250px;
    flex-direction: row;
    position: absolute;

}

div form input[type="email"] {
    width: 290px;
    height: 30px;
    font-family: "Teko", sans-serif;
    font-size: 16pt;
    border: none;
    border-bottom: 5px solid #b89d47;
    background-color: #b89e4720;

}

div form div.send {
    width: 100px;
    height: 25px;
    margin: 319px 120px 0px 570px;
    position: absolute;
}

div form input[type="submit"] {
    width: 140px;
    height: 30px;
    font-family: "Teko", sans-serif;
    font-size: 16pt;
    color: white;
    border: none;
    background-color: #b89e47;
}

footer {
    width: 1920px;
    background-color: #355e58;
    font-family: "Teko", sans-serif;
    font-size: 20pt;
    color: #fdc1b4;
    margin-bottom: 10px;
    box-shadow: 0px 7px 10px;
}

footer p {
    color: #fdc1b4;
    margin: 5px 0px 0px 250px;
}