* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


header nav {
    width: 1920px;
    height: 80px;
    font-family: teko;
    color: #355e58;
    font-size: 20pt;
    background-color: #fdc1b4;
    position: sticky;
    box-shadow: 0px 05px 20px inset #fe9179;

}

header nav ul {
    display: flex;
}

header nav ul li {
    float: left;
    list-style-type: none;
    font-family: teko;
    text-align: center;
}

header nav ul li.main {
    width: 60px;
    height: 37px;
    margin: 24px 61px 19px 310px;
    color: #ffedd1;
}

header nav ul li.about {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.gallery {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.contact {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.profile img {
    width: 62px;
    margin: 7px 344px 0px 500px;
    border-radius: 31px;
}

header nav ul li.name img {
    width: 100px;
    margin: 7px 200px 8px -400px;
}

header nav ul li a {
    width: 100px;
    height: 60px;
    margin: 7px 200px 8px -400px;
    position: absolute;
}

section {
    border: 1px solid #ffedd1;
    width: 1920px;
    height: 500px;
    background-color: #ffedd1;
}

section #top {
    height: 460px;
    justify-content: center;
    display: flex;
}

section h1 {
    font-family: "Teko";
    font-size: 80pt;
    width: 404px;
    height: 118px;
    color: #72b0ab;
    margin: 100px 758px 0px 758px;
    align-content: end;
    text-align: left;
}

section p {
    font-family: "Teko";
    font-size: 20pt;
    color: #72b0ab;
    width: 844px;
    height: 100px;
    text-align: center;
    margin: 40px 538px 0px 538px;

}

section p.downlod a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: 20px 100px 0px 430px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
}

section p.view a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: -140px 100px 0px 250px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
    position: absolute;
    ;
}

div.techIcons {
    width: 1920px;
    height: 130px;
    padding: 10px;
    box-shadow: 0px 05px 20px inset #fe9179;
    background-color: #fdc1b4;
    display: flex;
    justify-content: center;
}

div.techIcons img {
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

div#letusbox {
    width: 1920px;
    height: 959px;
    background: #ffedd1;
    display: flex;

}

/* div#letusbox h1 { */
/* font-family: serif; */
/* font-size: 36px; */
/* color: #0b0b0b; */
/* width: 190px; */
/* height: 53px; */
/* margin: 161px 1480.5px 16px 304.5px; */
/* text-align: left; */
/* position: absolute; */

div form.letusform h1 {
    font-family: "Pacifico";
    font-size: 90pt;
    color: #b89d47;
    width: 700px;
    height: 180px;
    margin: 1px 150px 150px 50px;
    text-align: center;
    position: absolute;
}

div form.letusform h2 {
    font-family: "Teko";
    font-size: 18pt;
    color: #b89d47;
    width: 555px;
    height: 70px;
    margin: 190px 150px 16px 125px;
    text-align: center;
    position: absolute;
}

div form.letusform p {
    font-family: "Teko", serif;
    font-size: 15pt;
    color: #b89d47;
    height: 70px;
    width: 700px;
    margin: 230px 200px 20px 50px;
    text-align: center;
    position: absolute;

}

div.gradedbgp img {
    width: 1189px;
    height: 718px;
    margin: 112px 365px 184px 365px;
    box-shadow: 10px 10px 200px #355e58;
}

div form.letusform {
    width: 800px;
    height: 399px;
    margin: 260px 0px 250px 570px;
    font-family: "Teko", serif;
    font-size: 16px;
    font-style: bold;
    text-align: left;
    color: #b89d47;
    position: absolute;

}

div form div.fullname {
    width: 290px;
    height: 50px;
    margin: 280px 20px 5px 20px;
    position: absolute;
}

div form input[type="text"] {
    width: 290px;
    height: 30px;
    font-family: "Teko";
    font-size: 16pt;
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);
}

div form div.email {
    width: 290px;
    height: 30px;
    margin: 280px 60px 0px 320px;
    position: absolute;

}

div form input[type="email"] {
    width: 290px;
    height: 30px;
    font-family: "Teko";
    font-size: 16pt;
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);

}

div form div.send {
    width: 200px;
    height: 30px;
    margin: 297px 60px 0px 620px;
    position: absolute;
}

div form input[type="submit"] {
    width: 140px;
    height: 30px;
    font-family: "Teko";
    font-size: 16pt;
    color: white;
    background-color: #b89d47;
    border: none;
}

footer {
    width: 1920px;
    background-color: #355e58;
    font-family: "Teko", serif;
    font-size: 20pt;
    color: #fdc1b4;
    box-shadow: 0px 7px 10px;
}

footer p {
    margin: 0px 0px 0px 30px;
}