* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


header nav {
    width: 1920px;
    height: 80px;
    font-family: teko;
    color: #355e58;
    font-size: 20pt;
    background-color: #fdc1b4;
    position: sticky;
    box-shadow: 0px 05px 20px inset #fe9179;

}

header nav ul {
    display: flex;
}

header nav ul li {
    float: left;
    list-style-type: none;
    font-family: serif;
    text-align: center;
}

header nav ul li.main {
    width: 60px;
    height: 37px;
    margin: 24px 61px 19px 310px;
    color: #ffedd1;

}

header nav ul li.about {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.gallery {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.contact {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.profile img {
    width: 62px;
    margin: 7px 344px 0px 500px;
    border-radius: 31px;
}

header nav ul li.name img {
    width: 100px;
    margin: 7px 200px 8px -400px;
}

section {
    border: 1px solid #ffedd1;
    width: 1920px;
    background-color: #ffedd1;
}

section #top {
    height: 460px;
    justify-content: center;
    display: flex;
}

section h1 {
    font-family: "Teko", serif;
    font-size: 80pt;
    width: 404px;
    height: 118px;
    color: #72b0ab;
    margin: 140px 758px 0px 758px;
    align-content: end;
    text-align: center;
}

section p {
    font-family: "Teko", serif;
    font-size: 20pt;
    color: #72b0ab;
    width: 844px;
    height: 100px;
    text-align: center;
    margin: 0px 538px 0px 538px;

}

section p.downlod a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: 20px 100px 0px 430px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
}

section p.view a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: -100px 100px 0px 250px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
    position: absolute;
}

div.techIcons {
    width: 1920px;
    height: 130px;
    padding: 10px;
    box-shadow: 0px 05px 20px inset #fe9179;
    background-color: #fdc1b4;
    display: flex;
    justify-content: center;
}

div.techIcons img {
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

div#letusbox {
    width: 1920px;
    height: 959px;
    background: #ffedd1;
    display: flex;
}

div.box {
    width: 1189px;
    height: 700px;
    background-color: white;
    margin: 112px 365px 184px 365px;
    box-shadow: 5px 5px 100px #b89d47;
}

/* div#letusbox h1 { */
/* font-family: serif; */
/* font-size: 36px; */
/* color: #0b0b0b; */
/* width: 190px; */
/* height: 53px; */
/* margin: 161px 1480.5px 16px 304.5px; */
/* text-align: left; */
/* position: absolute; */


div form.letusform p {
    font-family: "Teko", serif;
    font-size: 12pt;
    color: white;
    height: 70px;
    width: 231px;
    margin: 80px 60px 16px 60px;
    text-align: left;
    position: absolute;
    text-align: left;
    ;
}

div form.letusform h1 {
    font-family: "Teko", serif;
    font-size: 17pt;
    color: white;
    width: 300px;
    height: 53px;
    margin: 30px 60px 16px 60px;
    text-align: left;
    position: absolute;
}

div.pinkbgp img {
    width: 1189px;
    height: 400px;
    margin: 0;
    object-fit: cover;
    position: absolute;


}

div form.letusform {
    width: 355px;
    height: 405px;
    margin: 125px 20px 20px 170px;
    font-family: "Teko", serif;
    font-size: 12pt;
    font-style: bold;
    text-align: left;
    color: white;
    position: absolute;
    background-color: #355e58b5;
}

div form div.fullname {
    width: 300px;
    height: 50px;
    margin: 140px 60px 5px 60px;

}

div form input[type="text"] {
    width: 250px;
    font-family: "Teko";
    font-size: 16pt;
    border-color: #fe9179;
}

div form div.email {
    width: 300px;
    height: 50px;
    margin: 20px 60px 5px 60px;
}

div form input[type="email"] {
    width: 250px;
    height: 35px;
    font-family: "Teko";
    font-size: 16pt;
    border-color: #fe9179;
}

div form div.send {
    width: 100px;
    height: 25px;
    margin: 30px 60px 5px 60px;

}

div form input[type="submit"] {
    width: 100px;
    height: 35px;
    font-family: "Teko";
    font-size: 16pt;
    color: white;
    background-color: #fe9179;
    border: none;
}

footer {
    width: 1920px;
    background-color: #355e58;
    font-family: "Teko", serif;
    font-size: 20pt;
    color: #fdc1b4;
    box-shadow: 0px 7px 10px;
}

footer p {
    margin: 0px 0px 0px 30px;
}