* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


header nav {
    width: 1920px;
    height: 80px;
    font-family: teko;
    color: #355e58;
    font-size: 20pt;
    background-color: #fdc1b4;
    position: sticky;
    box-shadow: 0px 05px 20px inset #fe9179;

}

header nav ul {
    display: flex;
}

header nav ul li {
    float: left;
    list-style-type: none;
    font-family: serif;
    text-align: center;
}

header nav ul li.main {
    width: 60px;
    height: 37px;
    margin: 24px 61px 19px 310px;
    color: #ffedd1;

}

header nav ul li.about {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.gallery {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.contact {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.profile img {
    width: 62px;
    margin: 7px 344px 0px 500px;
    border-radius: 31px;
}

header nav ul li.name img {
    width: 100px;
    margin: 7px 200px 8px -400px;
}

header nav ul li a {
    width: 100px;
    height: 60px;
    margin: 7px 200px 8px -400px;
    position: absolute;
}

section {
    border: 1px solid #ffedd1;
    width: 1920px;
    height: 450px;
    background-color: #ffedd1;
}

section #top {

    justify-content: center;
    display: flex;
}

section h1 {
    font-family: "Teko", serif;
    font-size: 80pt;
    width: 404px;
    height: 118px;
    color: #72b0ab;
    margin: 40px 758px 0px 758px;
    align-content: end;
    text-align: center;
}

section p {
    font-family: "Teko", serif;
    font-size: 20pt;
    color: #72b0ab;
    width: 844px;
    height: 100px;
    text-align: center;
    margin: 0px 538px 0px 538px;

}

section p.downlod a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: 20px 100px 0px 430px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
}

section p.view a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: -100px 100px 0px 250px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
    position: absolute;
}

div.techIcons {
    width: 1920px;
    height: 130px;
    padding: 10px;
    box-shadow: 0px 05px 20px inset #fe9179;
    background-color: #fdc1b4;
    display: flex;
    justify-content: center;
}

div.techIcons img {
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

div#letusbox {
    width: 1920px;
    height: 43vh;
    background: #ffedd1;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.box img {
    width: 35vw;
    height: 25vh;
    background: #E5EEFF;
    box-shadow: 0 0 20px 10px #00000066;
}

footer {
    width: 1920px;
    background-color: #355e58;
    font-family: "Teko", serif;
    font-size: 20pt;
    color: #fdc1b4;
    box-shadow: 0px 7px 10px;
}

footer p {
    margin: 0px 0px 0px 30px;
}