* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.box {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* border: 0px solid #b89d47; */
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

header nav {
    width: 1920px;
    height: 80px;
    font-family: teko;
    color: #355e58;
    font-size: 20pt;
    background-color: #fdc1b4;
    position: sticky;
    box-shadow: 0px 05px 20px inset #fe9179;
}

header nav ul {
    display: flex;
}

header nav ul li {
    float: left;
    list-style-type: none;
    font-family: teko;
    text-align: center;
}

header nav ul li.main {
    width: 60px;
    height: 37px;
    margin: 24px 61px 19px 310px;
    color: #ffedd1;
}

header nav ul li.about {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.gallery {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.contact {
    width: 60px;
    margin: 24px 61px 19px 61px;
}

header nav ul li.profile img {
    width: 62px;
    margin: 7px 344px 0px 500px;
    border-radius: 31px;
}

header nav ul li.name img {
    width: 100px;
    margin: 7px 200px 8px -400px;
}

section {
    border: 1px solid #ffedd1;
    width: 1920px;
    height: 500px;
    background-color: #ffedd1;
}

section #top {
    height: 460px;
    justify-content: center;
    display: flex;
}

h1 {
    font-family: "Teko";
    font-size: 80pt;
    width: 404px;
    height: 100px;
    color: #72b0ab;
    margin: 100px 758px 30px 758px;
    text-align: left;
}

section p {
    font-family: "Teko";
    font-size: 20pt;
    color: #72b0ab;
    width: 844px;
    height: 100px;
    text-align: center;
    margin: 0px 538px 30px 538px;


}

section p.downlod a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: 100px 100px 0px 430px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
}

section p.view a {
    width: 170px;
    height: 41px;
    background-color: #fe9179;
    padding: 7px;
    margin: -130px 100px 0px 250px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Teko";
    font-size: 17pt;
    text-align: center;
    display: block;
    color: #ffedd1;
    position: absolute;

}

div.techIcons {
    width: 1920px;
    height: 130px;
    padding: 10px;
    box-shadow: 0px 05px 20px inset #fe9179;
    background-color: #fdc1b4;
    display: flex;
    justify-content: center;
}

div.techIcons img {
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

div#letusbox {
    width: 1920px;
    height: 959px;
    background: #ffedd1;
    display: flex;

}

div form.letusform h1 {
    font-family: "Teko";
    font-size: 19pt;
    color: #ffedd1;
    width: 350px;
    height: 10px;
    margin: 150px 0px 0px 100px;
    text-align: left;
    position: absolute;
}

div form.letusform p {
    font-family: "Teko";
    font: size 14pt;
    color: #ffedd1;
    height: 10px;
    width: 350px;
    margin: 200px 0px 0px 100px;
    position: absolute;
    text-align: left;

}

div.coffee img {
    width: 750px;
    height: 680px;
    margin: 135px 855px;
    object-fit: cover;
    position: absolute;

}

div form.letusform {
    width: 550px;
    height: 680px;
    margin: 135px 0px 0px 305px;
    font-family: "Teko", serif;
    font: size 12pt;
    font-style: bold;
    text-align: left;
    color: #ffedd1;
    position: absolute;
    background-color: #355e58b5;
}

div form div.fullname {
    width: 290px;
    height: 50px;
    margin: 250px 0px 0px 100px;

}

div form input[type="text"] {
    width: 350px;
    height: 30px;
    font-family: "Teko";
    font: size 12pt;
    background-color: #ffedd1;
    border: none;
    border-bottom: 5px inset #fe9179;
}

div form div.email {
    width: 350px;
    height: 50px;
    margin: 10px 0px 0px 100px;
}

div form input[type="email"] {
    width: 350px;
    height: 30px;
    font-family: "Teko";
    font: size 12pt;
    background-color: #ffedd1;
    border: none;
    border-bottom: 5px inset #fe9179;
}

div form div.send {
    width: 350px;
    height: 50px;
    margin: 17px 0px 0px 100px;

}

div form input[type="submit"] {
    width: 150px;
    height: 30px;
    font-family: "Teko";
    font-size: 12pt;
    color: #ffedd1;
    background-color: #fe9179;
    border: none;
}

footer {
    width: 1920px;
    background-color: #355e58;
    font-family: "Teko", serif;
    font-size: 20pt;
    color: #fdc1b4;
    box-shadow: 0px 7px 10px;
    ;
}

footer p {
    margin: 0px 0px 0px 30px;
}