* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 100%;
}

@media (max-width: 760px) {
    body {
        font-size: 30%;
    }

}

div.gradedbgp img {
    width: 100vw;
    height: 100vh;
    display: flex;
}

div.gradedbgp h1 {
    font-family: "Pacifico";
    font-size: 7em;
    color: #b89d47;
    width: 100%;
    height: 10%;
    margin: 0;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 20%;
}

@media (max-width: 760px) {
    div.gradedbgp h1 {
        font-family: "Pacifico";
        font-size: 9em;
        color: #b89d47;
        width: 100%;
        height: 10vh;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-items: center;
        position: absolute;
        top: 15vh;
    }
}

div.gradedbgp h2 {
    font-family: "Teko", sans-serif;
    font-size: 1.6em;
    color: #b89d47;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 48%;
}

@media (max-width: 760px) {
    div.gradedbgp h2 {
        font-family: "Teko", sans-serif;
        font-size: 4em;
        color: #b89d47;
        width: 100vw;
        height: 10vh;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-items: center;
        position: absolute;
        top: 30vh;
    }

}

div.gradedbgp p {
    font-family: "Teko";
    font-size: 1.5em;
    color: #b89d47;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 55%;

}

@media (max-width: 760px) {
    div.gradedbgp p {
        font-family: "Teko";
        font-size: 4em;
        color: #b89d47;
        width: 100vw;
        height: 10vh;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-items: center;
        position: absolute;
        top: 38vh;

    }
}

div form.letusform {
    font-family: "Teko";
    font-size: 1.5em;
    font-style: bold;
    color: #b89d47;
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 0% 3%;
    justify-self: center;
    align-items: center;
    top: -35vh;
    margin: 0;
}

@media (max-width: 760px) {
    div form.letusform {
        font-family: "Teko";
        font-size: 5em;
        font-style: bold;
        color: #b89d47;
        width: 100%;
        height: 50%;
        display: flex;
        position: relative;
        flex-direction: column;
        top: -50vh;
        padding-left: 20%;
        gap: 0% 20%;
    }
}

div form div.fullname {
    width: 100%;
    height: 50%;
    font-family: "Teko";
    font-size: 1.1em;

    text-align: left;


}

@media (max-width: 760px) {
    div form div.fullname {
        width: 100%;
        height: auto;



    }
}

div form input[type="text"] {
    width: 100%;
    height: 50%;
    font-family: "Teko";
    font-size: 1.1em;
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);

}

@media (max-width: 760px) {
    div form input[type="text"] {
        width: 80%;
        height: 50%;
        font-family: "Teko";
        border-color: #b89d47;
        background-color: rgba(245, 222, 179, 0);

    }
}

div form div.email {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    text-align: left;

    /* left: 14.5vw; */
}

@media (max-width: 760px) {
    div form div.email {
        width: 100%;
        height: auto;


    }
}

div form input[type="email"] {
    width: 100%;
    height: 60%;
    font-family: "Teko";
    font-size: 1.1em;
    border-color: #b89d47;
    background-color: rgba(245, 222, 179, 0);
    align-self: flex-end;

}

@media (max-width: 760px) {
    div form input[type="email"] {
        width: 80%;
        height: 50%;
        font-family: "Teko";
        font-size: 1em;
        border-color: #b89d47;
        background-color: rgba(245, 222, 179, 0);

    }
}

div form div.send {
    width: 60%;
    height: 60%;
    padding-top: 0vh;

    position: relative;
    /* align-self: center; */

}

@media (max-width: 760px) {
    div form div.send {
        width: 80%;
        height: 50%;
        right: 8vw;
    }
}

div form input[type="submit"] {
    width: 100%;
    height: 60%;
    font-family: "Teko";
    font-size: 1.3em;
    color: white;
    background-color: #b89d47;
    border: none;
    text-align: center;


}

@media (max-width: 760px) {
    div form input[type="submit"] {
        width: 100%;
        height: auto;
        font-family: "Teko";
        font-size: 1em;
        color: white;
        background-color: #b89d47;
        border: none;
        text-align: center;

    }

}